{% load i18n %}
{% load l10n %}
{% load extratags %}

<div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel-example-generic" data-bs-slide-to="0" aria-label="Plain Layout" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#carousel-example-generic" data-bs-slide-to="1" aria-label="Index Layout"></button>
    <button type="button" data-bs-target="#carousel-example-generic" data-bs-slide-to="2" aria-label="Multi Page Layout"></button>
  </div>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img 
        src="/media/img/layout/plain.png"
        srcset="/media/img/layout/plain.png, /media/img/layout/plain-1.5x.png 1.5x, /media/img/layout/plain-2x.png 2x"
	width="100%" alt="{% trans "Plain Layout" %}">
      <div class="carousel-caption">
        <h3>{% trans "Plain Layout" %}</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img 
        src="/media/img/layout/single_page_index_side.png" 
	srcset="/media/img/layout/single_page_index_side.png, /media/img/layout/single_page_index_side-1.5x.png 1.5x, /media/img/layout/single_page_index_side-2x.png 2x" 
	width="100%" alt="{% trans "Index Layout" %}">
      <div class="carousel-caption">
        <h3>{% trans "Index Layout" %}</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img 
        src="/media/img/layout/multi_page.png" 
	srcset="/media/img/layout/multi_page.png, /media/img/layout/multi_page-1.5x.png 1.5x, /media/img/layout/multi_page-2x.png 2x"
	width="100%" alt="{% trans "Multi Page Layout" %}">
      <div class="carousel-caption">
        <h3>{% trans "Multi Page Layout" %}</h3>
      </div>
    </div>
  </div>
  
  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-example-generic" data-bs-silde="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{% trans "Previous" %}</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-example-generic" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{% trans "Next" %}</span>
  </button>

</div> <!-- Carousel -->
