{% load i18n %}
{% load l10n %}
{% load extratags %}

<div class="alert alert-info">
    <h2>{% trans "Platform status" %}</h2>

    <p>
      <div class="alert alert-{{queues_overall_state}}">
        <h5>Render queue states:</h5>
        <ul class="list-group">
          {% for key, value in queue_states.items %}
          <li class="list-group-item 
                     list-group-item-{{value.running|yesno:"success,danger,warning"}} 
                     d-flex justify-content-between align-items-center"
              >{{key}}
         <span
              class="badge rounded-pill 
                     text-bg-{{value.running|yesno:"success,danger,warning"}}"
                     title="{% blocktrans with size=value.size qp=value.size|pluralize %} {{size}} job{{ qp }} in the rendering queue.{% endblocktrans %}">
          {% if value.size > 0 %}
          {{value.size}}
          {% else %}
          -
          {% endif %}
          </span>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="alert alert-success"> <!-- TODO: add overall database state -->
        <h5>Database states:</h5>
      
      {% if gis_lag_ok %}
      <div class="alert alert-success">
        <i class="fas fa-check"></i> {% blocktrans with gis_lastupdate|timesince:utc_now as date %}The GIS database is online and up to date, <span class="tooltipped" data-original-title="{{ gis_lastupdate }}">updated {{ date }} ago</span>.{% endblocktrans %}
      </div>
      {% else %}
      {% if gis_lastupdate %}
      <div class="alert alert-warning">
        <i class="fas fa-warning"></i>
        {% blocktrans with gis_lastupdate|timesince:utc_now as date %}The GIS database is not up to date and was only <span class="tooltipped" data-original-title="{{ gis_lastupdate }}">updated {{ date }} ago</span>.{% endblocktrans %}
      </div>
      {% else %}
      <div class="alert alert-danger">
        <i class="fas fa-times"></i> {% blocktrans %}The GIS database is not available. Renderings cannot be processed at this time.{% endblocktrans %}
      </div>
      {% endif %}
      {% endif %}

      {% if osmcarto5_lag_ok %}
      <div class="alert alert-success">
        <i class="fas fa-check"></i> {% blocktrans with osmcarto5_lastupdate|timesince:utc_now as date %}The OSM 5.x database is online and up to date, <span class="tooltipped" data-original-title="{{ osmcarto5_lastupdate }}">updated {{ date }} ago</span>.{% endblocktrans %}
      </div>
      {% else %}
      {% if osmcarto5_lastupdate %}
      <div class="alert alert-warning">
        <i class="fas fa-warning"></i>
        {% blocktrans with osmcarto5_lastupdate|timesince:utc_now as date %}The OSM 5.x database is not up to date and was only <span class="tooltipped" data-original-title="{{ osmcarto5_lastupdate }}">updated {{ date }} ago</span>.{% endblocktrans %}
      </div>
      {% else %}
      <div class="alert alert-danger">
        <i class="fas fa-times"></i> {% blocktrans %}The OSM 5.x database is not available. Renderings cannot be processed at this time.{% endblocktrans %}
      </div>
      {% endif %}
      {% endif %}

      {% if waymarked_lag_ok %}
      <div class="alert alert-success">
        <i class="fas fa-check"></i> {% blocktrans with waymarked_lastupdate|timesince:utc_now as date %}The Waymarked route database is online and up to date, <span class="tooltipped" data-original-title="{{ waymarked_lastupdate }}">updated {{ date }} ago</span>.{% endblocktrans %}
      </div>
      {% else %}
      {% if waymarked_lastupdate %}
      <div class="alert alert-warning">
        <i class="fas fa-warning"></i> {% blocktrans with waymarked_lastupdate|timesince:utc_now as date %}The Waymarked route database is not up to date and was only <span class="tooltipped" data-original-title="{{ waymarked_lastupdate }}">updated {{ date }} ago</span>.{% endblocktrans %}
      </div>
      {% else %}
      <div class="alert alert-danger">
        <i class="fas fa-times"></i> {% blocktrans %}The Waymarked route database is not available. Route overlays cannot be processed at this time.{% endblocktrans %}
      </div>
      {% endif %}
      {% endif %}

      {% if osmnames_ok %}
      <div class="alert alert-success">
        <i class="fas fa-check"></i> {% blocktrans %}The OsmNames Places table data is OK.{% endblocktrans %}
      </div>
      {% else %}
      <div class="alert alert-danger">
        <i class="fas fa-times"></i> {% blocktrans %}The OsmNames Places table data is missing.{% endblocktrans %}
      </div>
      {% endif %}
      </div>
    </p>
</div>
