{% load i18n %}
{% load l10n %}
{% load extratags %}

<div class="alert alert-info">
    <h2>{% trans "Platform status" %}</h2>

    <p>
      <div class="alert alert-{{queues_overall_state}}">
        <h5>Render queue states:</h5>
        <ul class="list-group">
          {% for key, value in queue_states.items %}
          <li class="list-group-item 
                     list-group-item-{{value.running|yesno:"success,danger,warning"}} 
                     d-flex justify-content-between align-items-center"
              >{{key}}
         <span
              class="badge rounded-pill 
                     text-bg-{{value.running|yesno:"success,danger,warning"}}"
                     title="{% blocktrans with size=value.size qp=value.size|pluralize %} {{size}} job{{ qp }} in the rendering queue.{% endblocktrans %}">
          {% if value.size > 0 %}
          {{value.size}}
          {% else %}
          -
          {% endif %}
          </span>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="alert alert-success"> <!-- TODO: add overall database state -->
        <h5>Database states:</h5>

        <ul class="list-group">
          <li class="list-group-item list-group-item-success
                     d-flex justify-content-between align-items-center"
              >OSM Generic
            <span class="badge rounded-pill
			 {% if gis_lastupdate %}
			   {% if gis_lag_ok %}
			     text-bg-success
			   {% else %}
			     text-bg-warning
			   {% endif %}
			 {% else %}
			   text-bg-danger
			 {% endif %}
			 ">
	      {% if gis_lastupdate %}
                {% blocktrans with gis_lastupdate|timesince:utc_now as date %}<span class="tooltipped" data-original-title="{{ gis_lastupdate }}">{{ date }} ago</span>{% endblocktrans %}
	      {% else %}
	        Offline
	      {% endif %}
	    </span>
          </li>
	  
          <li class="list-group-item list-group-item-success 
                     d-flex justify-content-between align-items-center"
              >OSM Carto flex
          <span
            <span class="badge rounded-pill
			 {% if osmcarto_lastupdate %}
			   {% if osmcarto_lag_ok %}
			     text-bg-success
			   {% else %}
			     text-bg-warning
			   {% endif %}
			 {% else %}
			   text-bg-danger
			 {% endif %}
			 ">
	      {% if osmcarto_lastupdate %}
                {% blocktrans with osmcarto_lastupdate|timesince:utc_now as date %}<span class="tooltipped" data-original-title="{{ osmcarto_lastupdate }}">{{ date }} ago</span>{% endblocktrans %}
	      {% else %}
	        Offline
	      {% endif %}
            </span>
          </li>
	  
          <li class="list-group-item list-group-item-success 
                     d-flex justify-content-between align-items-center"
              >WayMarked Routes
            <span class="badge rounded-pill
			 {% if waymarked_lastupdate %}
			   {% if waymarked_lag_ok %}
			     text-bg-success
			   {% else %}
			     text-bg-warning
			   {% endif %}
			 {% else %}
			   text-bg-danger
			 {% endif %}
			 ">
	      {% if waymarked_lastupdate %}
                {% blocktrans with waymarked_lastupdate|timesince:utc_now as date %}<span class="tooltipped" data-original-title="{{ waymarked_lastupdate }}">{{ date }} ago</span>{% endblocktrans %}
	      {% else %}
	        Offline
	      {% endif %}
	    </span>
          </li>

          <li class="list-group-item list-group-item-success 
                     d-flex justify-content-between align-items-center"
              >Places
          {% if osmnames_ok %}	    
            <span class="badge rounded-pill text-bg-success">OK</span>
	  {% else %}
            <span class="badge rounded-pill text-bg-danger">Offline</span>
	  {% endif %}
          </li>
        </ul>  
      </div>
      
      
    </p>
</div>
